<p>Пользователь: <strong><%= @user.name %></strong></p>

<% if current_user == @user %>
    <%= link_to 'Редактировать', edit_user_path(@user), class: 'btn btn-primary' %>
<% end %>

<% if @user.books.size > 0 %>
    <h3>Выложенные книги</h3>

    <div class="row buffer-bottom">
      <%= render partial: 'books/book', collection: @books %>
    </div>
<% else %>
    <h3>Пользователь не выложил ни одной книги</h3>
<% end %>