# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 74bec66f38225d1121542723342b4549376d16594984ead97d3b6a149b36702e0131b1fe4f675335fe5d5a6ac02e0e4dfe34a96d76f6cccb9b7554f3abfab25a

test:
  secret_key_base: 2d2791eaa022da11947d3f4c3ea2c77103d2f082874098ed9068dde21f1b5de85f06388a35e936317765da1e50c51696823fd8430acb4840b567fd2e0e2a464e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
